.hero{
   height: 350px;
  color: white;
  padding-top: 100px;
  text-align: center;
  font-size: 45px;
  text-shadow:2px -3px 2px black;
  background-image:url(monastery.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

header{
  display:flex;
  justify-content:space-between;
}
