body{
    font-family: 'new rocker',system-ui;
    background-color: black;
}

main{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url(bg.png);
    background-attachment: fixed;
    background-size:cover;
    width:100%;
}

.header{
    position: fixed;
    top:0;
    left:0;
    background-color: black;
}

a:hover{
    cursor: pointer;
    color:#ffc107 !important;
}

a,h5{
    transition:0.4s ease;
    user-select: none;
    font-size:20px !important;
}