.shadow-text{
    color:darkblue;
    font-size:30px;
    margin-left:20px;
}

.image-bg{
    background-image:url(bg-img.jpg);
    height:350px;
    color:white;
    padding-top:100px;
    text-align:center;
    font-size:25px;
    font-family: 'Berkshire Swash', cursive;
    background-repeat:no-repeat;
    width:100vw;
    background-size:cover;
}

.h3{
    padding:11px 20px;
    background-color:darkblue;
    width:100%;
    text-align:center;
    color:white;
}

.h3:hover{
    background-color:white;
    color:darkblue;
    border-bottom:2px solid darkblue;
}

body{
    margin:0;
}

.h3{
    margin:0;
    margin-bottom:50px;
}

.btn{
    color:white;
    font-size:20px;
    text-decoration:none;
    border:2px solid black;
    background-color:darkblue;
    padding:12px 20px;
    border-radius:20px;
    margin-left:10px;
    margin-bottom:20px;
    margin-top:10px;
}

.h2{
    font-size:30px;
    margin-left:10px;
    color:darkblue;
}

.p{
    margin-left:10px;
    color:darkblue;
    font-size:20px;
    font-weight:bold;
    border:2px solid white;
    width:750px;
}

.img{
    margin-left:10px;
    border-radius:10px;
}

.border{
    border-bottom:2px solid darkblue;
    margin-bottom:30px;
}

.align{
    display:flex;
    margin:10px 20px;
}

.fix{
    text-decoration:none;
    color:darkblue;
    border:2px solid black;
    border-radius:20px;
    display:inline-block;
    position:absolute;
    top:15px;
    right:50px;
    margin-bottom:20px;
    padding:10px 10px;
    font-weight:bold;
}

.fix:hover{
    background-color:darkblue;
    color:white;
}
header{
    height:80px;
}

.false:hover{
    background-color:darkblue;
    color:white;
}

.false{
    text-decoration: none;
        color: darkblue;
        border: 2px solid black;
        border-radius: 20px;
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 150px;
        margin-bottom: 20px;
        padding: 10px 10px;
        font-weight: bold;
}

.farther:hover{
    background-color:darkblue;
    color:white;
}

.farther{
text-decoration: none;
color: darkblue;
border: 2px solid black;
border-radius: 20px;
display: inline-block;
position: absolute;
top: 15px;
right: 275px;
margin-bottom: 20px;
padding: 10px 10px;
font-weight: bold;
}
/*PAGE 2*/

form{
    width:750px;
    padding:8px 20px;
    margin:0 auto;
    border-radius:15px;
    border:2px solid white;
    color:white;
}

.size{
    font-size:30px;
    text-align:center;
    margin-bottom:15px;
    margin:0;
    padding-top:20px;
    color:white;
    margin-bottom:10px;
}

.bg-image{
    background-image:url(view.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:550px;
}


label{
    display:block;
    font-size:15px;
}

input{
    margin-bottom:10px;
    margin-top:5px;
}

.block{
    display:block;
    text-decoration:none;
    font-weight:bold;
    padding:10px 10px;
    color:white;
    border:2px solid white;
    border-radius:20px;
    width:50px;
    margin-top:20px;
}

.agree{
    font-size:15px;
    margin-top:10px;
}

.agree:hover{
    text-decoration:underline;
}

.remove{
    text-decoration: none;
    margin-left:5px;
}

.underline:hover{
    text-decoration:underline;
    text-decoration-color:white;
}

.main{
    color:darkblue;
    margin-left:10px;
}

.block:hover{
    background-color:darkblue;
    color:white;
    border:2px solid darkblue;
}

/*PAGE 3*/

.fon{
text-decoration: none;
color: darkblue;
border: 2px solid black;
border-radius: 20px;
display: inline-block;
position: absolute;
top: 15px;
right: 125px;
margin-bottom: 20px;
padding: 10px 10px;
font-weight: bold;
background-color:white;
}

.fon:hover{
    background-color:darkblue;
    color:white;
}
.click1{
text-decoration:none;
color:darkblue;
border:2px solid black;
border-radius:20px;
display:inline-block;
position:absolute;
top:15px;
right:75px;
margin-bottom:20px;
padding:10px 10px;
font-weight:bold;
}

.fin{
text-decoration:none;
color:darkblue;
border:2px solid black;
border-radius:20px;
display:inline-block;
position:absolute;
top:15px;
right:275px;
margin-bottom:20px;
padding:10px 10px;
font-weight:bold;
}

.fin:hover{
    background-color:darkblue;
    color:white;
}

.fal{
text-decoration: none;
color: darkblue;
border: 2px solid black;
border-radius: 20px;
display: inline-block;
position: absolute;
top: 15px;
right: 50px;
margin-bottom: 20px;
padding: 10px 10px;
font-weight: bold;
}

.fal:hover{
    background-color:darkblue;
    color:white;
}
.hding{
    margin-top:10px;
    margin-left:10px;
    color:darkblue;
    margin-bottom:5px;
}

.click1:hover{
    background-color:darkblue;
    color:white;
}

.back{
    background-image: url(chillax1.jpg);
        height: 350px;
        color: white;
        padding-top: 100px;
        text-align: center;
        font-size: 25px;
        font-family: 'Berkshire Swash', cursive;
        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
}

.box-card{
    border:2px solid darkblue;
    color:darkblue;
    background-color:white;
    width:650px;
    text-align:center;
    border-radius:15px;
    margin-left:20px;
    height:450px;
    font-weight:bold;
    margin-top:30px;
}

.img-box {
    width: 450px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    border:2px solid darkblue;
    margin-left:10px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big{
    font-size:30px;
}

.flex{
    display:flex;
    margin-right:10px;
}

.button{
    text-decoration:none;
    color:darkblue;
    border:2px solid darkblue;
    margin-top:20px;
    margin-left:20px;
    border-radius:20px;
    padding:10px 10px;
    display:block;
    width:135px;
    font-weight:bold;
    margin-bottom:10px;
}

.button:hover{
    background-color:darkblue;
    color:white;
}
/*PAGE 4*/

.clicked{
text-decoration: none;
color: white;
border: 2px solid black;
border-radius: 20px;
display: inline-block;
position: absolute;
top: 15px;
right: 250px;
margin-bottom: 20px;
padding: 10px 10px;
font-weight: bold;
background-color:darkblue;
}

.city-img{
    background-image: url(runway3.png);
        height: 350px;
        color: white;
        padding-top: 100px;
        text-align: center;
        font-size: 25px;
        font-family: 'Berkshire Swash', cursive;
        background-repeat: no-repeat;
        width: 100vw;
        background-size: cover;
        padding-right:100px;
        background-position:center;
}

.small{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    width:100px;
    height:50px;
    margin-top:1px;
}

/*PAGE 5*/

.clr{
    color:darkblue;
    margin-left:10px;
    font-size:35px;
}